[Unit]
Description=Mcontrol Client
After=network-online.target

[Service]
ExecStartPre=echo "MQTT Starting"
ExecStart=/usr/bin/mqtt-client.py
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
Alias=mcontrol_client
