[Unit]
Description=Cog WPE WebKit Kiosk Browser
After=network-online.target cog-url.service
Wants=network-online.target cog-url.service

[Service]
EnvironmentFile=-/run/cog/env
ExecStart=/usr/bin/cog -P drm --platform-params="${COG_PLATFORM_PARAMS}" ${COG_URL}
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
