[Unit]
Description=CEC display sleep on PIR inactivity
After=cog.service

[Service]
ExecStart=/usr/libexec/cec-sleep.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
